[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ecotourism"]
	path = ecotourism
	url = https://github.com/vahdatjavad/ecotourism
